/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

body {
 overflow-y: scroll;
 background: #AA3847;
 margin-top: 71px;
}

.review-title {
 margin-bottom: 20px;
}

.reviews {
 padding: 15px 0;
 border-bottom: 1px solid #EAEAEA;
 .star-rating {
   padding-bottom: 8px;
 }
}

button {
 outline: none;
}

table {
 tr{

 }
}

a {
 &:hover {
   color: #666;
   background: none;
   text-decoration: none;
 }
 &:visited {
   color: none;
 }
 &:active {
   border: none;
 }
}

.alert {
 border-radius: 0;
 margin-top: -20px;
}

.alert-info {
 color: rgba(75,150,75,1);
 background-color: rgba(200,255,200,1);
 border: none;
}

.close {
 font-size: 26px;
 line-height: .6;
}

.thumbnail {
 transition: none;
 &:hover {
   background-color: #337AB7;
   border: 1px solid #337ab7;
   img {
     opacity: .75;
   }
 }
}

.navbar-brand {
  font-weight: 700;
}

.jumbotron {
  border-radius: 0 !important;
}

.text-center {
  clear: both;
}

.btn-lg {
  min-width: 100px;
}

.btn-primary {
  color: #fff;
}
