<% flash.each do |name, msg| %>
  <% bootstrap_class = bootstrap_class_for(name) %>
  <div class="alert <%= bootstrap_class %>">
    <button class="close" data-dismiss="alert">x</button>
    <%= msg %>
  </div>
<% end %>
